body {
    background: #222c69;
}

.container {
    background-color: #fff;
    min-height: 800px;
}

.column.twelve {
    background-color: #fff;
}

.ui.vertical.fluid.menu {
    background-color: #2a2d3e;
    border-radius: 0;
    height: 100%;
}

.ui.vertical.menu .header.item p {
    margin: 0;
    width: auto;
    display: inline-block;
}

.ui.vertical.menu .item {
    color: #fff;
}

.ui.vertical.menu a.item:hover {
    background-color: #383a4f;
    color: #fff;
}

.ui.vertical.menu a.active.item {
    background-color: #383a4f;
}

.ui.vertical.menu a.active:hover {
    background-color: #383a4f;
    color: #fff !important;
}

.ui.vertical.menu .header {
    background-color: #212430;
}

@media only screen and (min-width: 1145px) {
    .fixed.main.menu {  
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .ui.vertical.menu a.item {
        min-height: 40px;
    }
}

@media only screen and (max-width: 640px) {
    .ui.vertical.menu a.item p {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .ui.vertical.menu .header.item p {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .ui.vertical.menu .item i.icon {
        display: block;
        margin: 0 auto;
        float: none;
    }
}